// Imports --------------------------------------------------------------
// Positioning --------------------------------------------------------------

    body{
        overflow:hidden;
    }

    div.page-content{
        display:flex;
        flex-flow:column wrap;

        justify-content: center;
        align-items: center;

        height:85vh;
        width:100vw;

        div.pin-panel{            
            display:grid;
            grid-template-columns: auto auto auto auto auto;
            grid-template-rows: auto auto auto;

            align-items: center;
            justify-items: center;
        
            width:clamp(300px, 70vw, 700px);
            height:clamp(100px, 60vw, 60vh);

            div.switch{
                height:clamp(60px, 16vw, 12vh);
                width:clamp(30px, 8vw, 6vh);

                display:flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: flex-start;

                div.slider{
                    width:clamp(5px, 2vw, 30px);
                    height: clamp(5px, 2vw, 30px);
                    margin:25%;
                }
            }

            div.analog{
                max-width:clamp(50px, 10vw, 100px);
                display:none;

                input{
                    width:100%;
                    height:30%;
                }
            }

            .pin{
                width:clamp(50px, 10vw, 10vh);
    
                img{
                    width:inherit;
                    height:inherit;
                }
            }

                
            .lightning{
                width:clamp(40px,20vw,6vh);
            }

            .lock{
                width:clamp(25px,20vw, 6vh);
            }
        }

        div.pin-mode-switch{
            button{
                margin:0em 1em;
            }
        }
    }

// Appearence --------------------------------------------------------------

    body{
        background:linear-gradient(#455D8C, #89A3D6);
        
        div.page-content{
            // border:1px solid red; 

            div.pin-panel{
                // border:1px solid red;

                div.switch{
                    background:none;

                    border: clamp(.5vh, .5vw, 20px) solid white;
                    border-radius: 200px;

                    cursor:pointer;

                    transition: align-items .4s ease-in-out;

                    div.slider{
                        border-radius:200px;

                        background: white;
                    }
                }

                .switch, .lock, .pin, .lightning{
                    // border:1px solid blue;
                    filter: drop-shadow(clamp(10px, 1vw, 12px) clamp(10px, 1vw, 12px) rgba(0, 0, 0, 0.2));
                }

                #lightning-pin0, #lightning-pin1, #lightning-pin2{
                    visibility: hidden;
                }

                div.analog{

                    input{
                        padding:20%;

                        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));

                        color:white;
                        font-family:"nunito";

                        border:none;
                        border-bottom:2px solid white;
                        border-top:2px solid white;
                    }

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    button{
                        border:none;

                        background:rgb(70, 165, 99);

                        padding:0px .5em;
                        
                        color:white;
                    }
                }
            }

            div.pin-mode-switch{
                // border:1px solid red;
                padding:.5em 1em;

                button{
                    font-size:1em;
                    font-family:"nunito";
                    color:white;

                    padding:.5em 1em;

                    background:#2e2e2e;

                    border:5px solid #2e2e2e;
                    border-radius:.5em;

                    transition:background .1s;
                }

                button:active{
                    background:#6d6d6d;
                    transition:background .0s;
                }
    
                button.button-analog{
                    background:none;
                    border:5px solid white;
                }
            }
        }
    }
