div.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85vh;
  width: 100vw;
}

div.grid-container div.pin-panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: clamp(400px, 70vw, 700px);
  height: clamp(100px, 60vw, 60vh);
}

div.grid-container div.pin-panel div.switch {
  height: clamp(60px, 16vw, 12vh);
  width: clamp(30px, 8vw, 6vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

div.grid-container div.pin-panel div.switch div.slider {
  width: clamp(5px, 2vw, 30px);
  height: clamp(5px, 2vw, 30px);
  margin: 25%;
}

div.grid-container div.pin-panel .pin {
  width: clamp(50px, 10vw, 10vh);
}

div.grid-container div.pin-panel .pin img {
  width: inherit;
  height: inherit;
}

div.grid-container div.pin-panel .lightning {
  width: clamp(40px, 20vw, 6vh);
}

div.grid-container div.pin-panel .lock {
  width: clamp(25px, 20vw, 6vh);
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#455D8C), to(#89A3D6));
  background: linear-gradient(#455D8C, #89A3D6);
}

body div.grid-container div.pin-panel div.switch {
  background: none;
  border: clamp(0.5vh, 0.5vw, 20px) solid white;
  border-radius: 200px;
  cursor: pointer;
  -webkit-transition: -webkit-box-align .4s ease-in-out;
  transition: -webkit-box-align .4s ease-in-out;
  transition: align-items .4s ease-in-out;
  transition: align-items .4s ease-in-out, -webkit-box-align .4s ease-in-out, -ms-flex-align .4s ease-in-out;
}

body div.grid-container div.pin-panel div.switch div.slider {
  border-radius: 200px;
  background: white;
}

body div.grid-container div.pin-panel .switch, body div.grid-container div.pin-panel .lock, body div.grid-container div.pin-panel .pin, body div.grid-container div.pin-panel .lightning {
  -webkit-filter: drop-shadow(clamp(10px, 1vw, 12px) clamp(10px, 1vw, 12px) rgba(0, 0, 0, 0.2));
          filter: drop-shadow(clamp(10px, 1vw, 12px) clamp(10px, 1vw, 12px) rgba(0, 0, 0, 0.2));
}

body div.grid-container div.pin-panel #lightning-pin0, body div.grid-container div.pin-panel #lightning-pin1, body div.grid-container div.pin-panel #lightning-pin2 {
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */