// Imports --------------------------------------------------------------
// Positioning --------------------------------------------------------------

    body{
        .page-content{
            width:100vw;
            height:90%;

            display:flex;
            flex-flow:row wrap;
            justify-content: space-around;
            align-items: center;

            .chart-table{
                display:flex;
                flex-flow:column nowrap;
                justify-content: space-evenly;
                align-items: center;
                
                height:85%;
                width:clamp(0px, 30vw, 350px);

                .chart-container{
                    width:230px;

                    .chart-title{
                        width:100%;
                        margin-bottom:10px;
                    }
                }
            }

            .model3D-container{
                width:500px;
                height: 500px;
            }
        }
    }
    


// Appearence --------------------------------------------------------------

    body{
        background:linear-gradient(#934956, #D97575);

        overflow:scroll;

        .page-content{
            
            .chart-table{
                padding:30px;

                border-radius:30px;

                .chart-container{
                    overflow:hidden;

                    border-radius:20px;

                    background:#2e2e2e4f;
                    
                    .chart-title{
                        text-align: center;
                    }

                    .chart{
                        padding:5px
                    }
                }

                .chart-container.x-axis{
                    .chart-title{
                        background-color: #e6606b;
                    }
                }
                .chart-container.y-axis{
                    .chart-title{
                        background-color: #6b77e0;
                    }
                }
                .chart-container.z-axis{
                    .chart-title{
                        background-color: #54ad79;
                    }
                }
            }

            .model3D-container{
                background:#2e2e2e48;

                border-radius:30px;
            }
        }
    }