@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Poppins:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

body .version-tag {
  position: absolute;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

body .page-content h1 {
  margin: 0px 5vw 0px 5vw;
}

body .page-content .button-panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: clamp(0px, 4vw, 30px);
}

body .page-content .button-panel button {
  width: clamp(200px, 20vw, 300px);
  height: clamp(200px, 20vw, 300px);
  margin-bottom: 0px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

body .page-content .button-panel button img {
  height: inherit;
  width: inherit;
}

body .page-content .button-panel button .dropup-content {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: visibility .4s ease-in-out, -webkit-transform .4s ease-in-out;
  transition: visibility .4s ease-in-out, -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out, visibility .4s ease-in-out;
  transition: transform .4s ease-in-out, visibility .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

body .page-content .button-panel button:hover {
  position: relative;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

body .page-content .button-panel button:hover .dropup-content {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

body .background-transition {
  position: absolute;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

body {
  font-family: "montserrat";
  background: #2e2e2e;
  overflow: hidden;
}

body .version-tag {
  padding: 10px;
  color: #ffffff42;
  font-family: "nunito";
}

body .page-content h1 {
  font-family: "nunito";
  font-weight: bold;
  font-size: clamp(16px, 10vh, 40px);
  color: white;
  text-align: center;
  letter-spacing: 2px;
  border: 6px solid white;
  border-radius: 100px;
  background: #373737;
  -webkit-box-shadow: 0px 0px 200px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 0px 200px rgba(255, 255, 255, 0.25);
  padding: 15px 50px;
}

body .page-content .button-panel button {
  background: none;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}

body .page-content .button-panel button .dropup-content {
  font-family: "montserrat";
  text-align: center;
  font-weight: 700;
  font-size: 2vh;
  visibility: hidden;
}

body .page-content .button-panel button .dropup-content.accelerometer {
  color: #E88E72;
}

body .page-content .button-panel button .dropup-content.temperature {
  color: #E5B66F;
}

body .page-content .button-panel button .dropup-content.compass {
  color: #DAF277;
}

body .page-content .button-panel button .dropup-content.leds {
  color: #86D989;
}

body .page-content .button-panel button .dropup-content.pins {
  color: #9BEFF4;
}

body .page-content .button-panel button .dropup-content.radio {
  color: #B5B4F5;
}

body .page-content .button-panel button:hover .dropup-content {
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */