@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Poppins:400,700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{

    font-family: "poppins";

    background:#2e2e2e;

    height: 100vh;
    width: 100vw;

    overflow: hidden;

    .version-tag{
        position:relative;

        width:100%;
        height:fit-content;
        // border:1px solid red;

        padding:10px;

        color:#ffffff42;
        font-family: "consolas";

        
    }

    .page-content{
        display:flex;
        flex-flow:column wrap;
        align-items: center;
        justify-content: space-around;

        // border:1px solid red;

        height:100%;
        width:100%;

        h1{
            font-family: "nunito";
            font-weight: bold;
            font-size: clamp(16px, 10vh, 40px);
            color:white;
            text-align: center;
            letter-spacing: 2px;

            margin:0px 5vw 0px 5vw;

            border:6px solid white;
            border-radius:100px;

            background:#373737;
            box-shadow:0px 0px 200px rgba(255, 255, 255, 0.25);

            padding:15px 50px;

        }

        .button-panel{
            display:grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto auto;
            gap: 3vw;

            // border:1px solid red;

            button{
                background:none;

                overflow:hidden;

                width:clamp(16px, 20vw, 20vh);
                height:clamp(16px, 20vw, 20vh);

        
                border:none;
                border-radius:30px;
        
                box-shadow: 0 clamp(0px, 2vw, 20px) #4747479a;

                cursor: pointer;

                transition: margin-bottom .4s, margin-right .4s, box-shadow .4s;

                margin-bottom:0px;

                img{
                    height:inherit;
                    width:inherit;
                }
        
            }

            button:hover{
                box-shadow: 0 clamp(0px, 4vw, 40px) #4747479a;

                position:sticky;

                margin-bottom:3vw;

                transition: margin-bottom .4s, margin-right .4s, box-shadow .4s;
            }
        }
    }
}