// ANCHOR Imports ------------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Poppins:400,700&display=swap');

// ANCHOR Positioning ------------------------------------------------------------------------------------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;

    .version-tag {
        position: absolute;

        width: 100%;
        height: fit-content;
    }

    .page-content {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-evenly;

        height: 100%;
        width: 100%;

        h1 {
            margin: 0px 5vw 0px 5vw;
        }

        .button-panel {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto auto;
            gap: clamp(0px, 4vw, 30px);

            button {
                width: clamp(200px, 20vw, 300px);
                height: clamp(200px, 20vw, 300px);

                margin-bottom: 0px;

                transform: translateY(0px);
                transition: transform .4s ease-in-out;

                img {
                    height: inherit;
                    width: inherit;
                }

                .dropup-content{
                    transform: translateY(-20px);
                    transition: transform .4s ease-in-out, visibility .4s ease-in-out;
                }
            }

            button:hover {
                position: relative;
                transform: translateY(-20px);

                .dropup-content{
                    transform: translateY(0px);
                    transition: transform .4s ease-in-out;
                }
            }
        }
    }

    .background-transition{
        position: absolute;
        width: 100vw;
        height: 100vh;

        transform: translateY(0vh);
        transition: transform .4s ease-in-out;
    }
}

// ANCHOR Appearance ------------------------------------------------------------------------------------

body {
    font-family: "montserrat";

    background: #2e2e2e;

    overflow: hidden;

    .version-tag {
        // border:1px solid red;

        padding: 10px;

        color: #ffffff42;
        font-family: "nunito";

    }

    .page-content {
        // border:1px solid red;

        h1 {
            font-family: "nunito";
            font-weight: bold;
            font-size: clamp(16px, 10vh, 40px);
            color: white;
            text-align: center;
            letter-spacing: 2px;

            border: 6px solid white;
            border-radius: 100px;

            background: #373737;
            box-shadow: 0px 0px 200px rgba(255, 255, 255, 0.25);

            padding: 15px 50px;

        }

        .button-panel {
            // border:1px solid red;

            button {
                background: none;

                border: none;
                border-radius: 30px;

                cursor: pointer;

                outline: none;

                .dropup-content{
                    font-family: "montserrat";
                    text-align: center;
                    font-weight: 700;
                    font-size: 2vh;

                    visibility: hidden;
                }

                .dropup-content.accelerometer{ color:#E88E72; }
                .dropup-content.buttons{ color:#E5B66F; }
                .dropup-content.compass{ color:#DAF277; }
                .dropup-content.leds{ color:#86D989; }
                .dropup-content.pins{ color:#9BEFF4; }
                .dropup-content.radio{ color:#B5B4F5; }
            }

            button:hover{
                .dropup-content{
                    visibility: visible;
                }
            }
        }
    }
}