// Imports --------------------------------------------------------------
// Positioning --------------------------------------------------------------
    body{

        overflow:hidden;

        div.page-content{
            
            // border:5px solid cornflowerblue;

            width:100%;
            height:100%;

            display:flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

            *{
                margin:.5em;
            }

            div.thermometer{
                border:5px solid white;
                border-radius:10vw 10vw 0 0;
                
                height:clamp(200px, 20vw, 600px);
                width:clamp(60px, 6vw, 180px);

                display:flex;
                justify-content: center;
                align-items: flex-end;

                box-shadow: -10px 10px #0000002f;

                div.thermometer-bar{
                    background: white;
                    border-radius: 10vw 10vw 0 0;

                    max-width:50%;
                    width:50%;
                    max-height:85%;
                    height:250px;

                    margin-bottom:25%;

                    transition: height .6s;
                }
            }

            div.temperature-number{
                text-align: center;

                font-size:clamp(1em, 2vw, 2em);

                // border:1px solid salmon;
            }
        }
    }
// Appearence --------------------------------------------------------------

    body{
        background:linear-gradient(#B65C40, #CF976E);
    }