// ANCHOR Imports ------------------------------------------------------------------------------------

    @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Poppins:400,700&display=swap');

// ANCHOR Positioning ------------------------------------------------------------------------------------

    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    body{
        height:100vh;
        width:100vw;

        header{
            display:flex;
            flex-flow:row nowrap;
            justify-content: space-around;
            align-items: center;

            height:clamp(0px, 20vw, 110px);
            max-width: fit-content;

            h1{
                margin:0 100px 0 40px;
            }

            .divider-line{
                height:60%;
                width:2px;
            }

            #btn-back{
                margin:0 20px;
        
                width:50px;
                height:50px;
            }
        }
    }

// ANCHOR Appearance ------------------------------------------------------------------------------------

    body{
        font-family: "poppins";
        color:white;

        overflow: hidden;
        
        header{
            background:#2e2e2e;
        
            // border:1px solid red;

            border-right:10px solid white;
            border-bottom:10px solid white;
            border-bottom-right-radius: 100px;

            filter: drop-shadow(-15px 15px 0px #0000002f);
        
            h1{

                font-family: "nunito";
                font-size: clamp(16px, 5vh, 35px); //"clamp" makes a changing value (20vh) stay inside certain limits
                font-weight: bold;
                text-shadow: -7px 7px 0px #00000065;
                // border:1px solid red;
            }

            .divider-line{
                background: rgba(255, 255, 255, 0.219);
            }
        
            #btn-back{
                border:none;

                background:url("/public/modules/_lib/css/resources/home_btn.svg");
                background-size:cover;

                filter:drop-shadow(-6px 6px 0px #00000065);
                
                cursor: pointer;
                outline:none;

                // border:1px solid red;
            }
        }
    }